build
*.dat
test/*.lua
MANIFEST
*.vtk
*.ele
*.face
*.poly
*.node
.*.swp
.*.swo
test/ParaViewTrace*.pvs
dist
*~
*.pyc
*.lua
*.silo
siteconf.py
Makefile
*.prof
*.session
tags
*.eps
*.png
*.tif
*.pdf
dump.py
*-200?-*
*-201?-*
*.bak
*-gdbcommands
bin/logtool
*.orig
*-journal
temp-*.cpy
.nfs*
out
*.egg-info
*.visit
visitlog.py
*.pyd
*.so
setuptools.pth
TAGS
