build
*.dat
test/*.lua
MANIFEST
*.vtk
*.ele
*.face
*.poly
*.node
.*.swp
test/ParaViewTrace*.pvs
dist
*~
*.pyc
*.lua
*.silo
siteconf.py
Makefile
*.prof
*.session
tags
*.eps
*.png
*.pdf
dump.py
*-2007-*
*-2008-*
*-2009-*
*.bak
*-gdbcommands
